{% extends "base.html" %}

{% block title %}About Us{% endblock title %}

{% block body %}
<div class="container rounded h-75 text-white-20" style="max-width: 700px;">
  <h2 class="text-uppercase text-center mb-4 my-4 py-3">About Us</h2>
  <div class="pb-2 mb-4">
    <p>
      Thank you for visiting our platform. 
    </p>
    <h2>VERSION 1.0.5</h2>
    <hr>
    <h2>Final year Poject - 2025</h2>
    <hr>
    <h2>Our Creator Team:</h2>
    <ul class="ml-5">
      <li>Sheikh Azal Abid</li>
      <li>Harshil Junkaiya</li>

    </ul>
    <hr>
    <p class="text-muted">Thank you, For visiting our website</p>
  </div>
</div>
{% endblock body %}